In [5]:
import pandas as pd
import plotly.express as px
import streamlit as st

In [6]:
data = pd.read_csv(r"C:\Users\Angel\Poyecto-Sprint-7\notebook\vehicles_us.csv")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

In [11]:
data['model_year'] = data['model_year'].astype('Int64')
data['cylinders'] = data['cylinders'].astype('Int64')
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  Int64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  Int64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: Int64(2), float64(2), int64(2), object(7)
memory usage: 5.2+ MB
None

In [7]:
print(data.head(5))

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

In [8]:
duplicados = data.duplicated().sum()
print(f"Filas duplicadas encontradas: {duplicados}")

Filas duplicadas encontradas: 0

In [9]:
valores_null = data.isnull()
print("\nValores null (mismo que isna()):")
print(valores_null.sum())

Valores null (mismo que isna()):
price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [10]:
modelos_unicos = data['model'].unique().tolist()
print("Lista de modelos únicos:")
print(modelos_unicos)
print(f"Cantidad de modelos únicos: {len(modelos_unicos)}")

Lista de modelos únicos:
['bmw x5', 'ford f-150', 'hyundai sonata', 'chrysler 200', 'chrysler 300', 'toyota camry', 'honda pilot', 'kia sorento', 'chevrolet silverado 1500', 'honda accord', 'ram 1500', 'gmc yukon', 'jeep cherokee', 'chevrolet traverse', 'hyundai elantra', 'chevrolet tahoe', 'toyota rav4', 'chevrolet silverado', 'jeep wrangler', 'chevrolet malibu', 'ford fusion se', 'chevrolet impala', 'chevrolet corvette', 'jeep liberty', 'toyota camry le', 'nissan altima', 'subaru outback', 'toyota highlander', 'dodge charger', 'toyota tacoma', 'chevrolet equinox', 'nissan rogue', 'mercedes-benz benze sprinter 2500', 'honda cr-v', 'jeep grand cherokee', 'toyota 4runner', 'ford focus', 'honda civic', 'kia soul', 'chevrolet colorado', 'ford f150 supercrew cab xlt', 'chevrolet camaro lt coupe 2d', 'chevrolet cruze', 'ford mustang', 'chevrolet silverado 3500hd', 'nissan frontier crew cab sv', 'subaru impreza', 'jeep grand cherokee laredo', 'nissan versa', 'ford f-250 sd', 'chevrolet silverado 1500 crew', 'ford f250 super duty', 'chevrolet camaro', 'ford mustang gt coupe 2d', 'subaru forester', 'ford explorer', 'ford f-350 sd', 'ford edge', 'nissan maxima', 'ford f-250', 'nissan sentra', 'ford f150', 'chevrolet suburban', 'ford expedition', 'dodge grand caravan', 'ford taurus', 'acura tl', 'ford f350 super duty', 'ford ranger', 'gmc sierra', 'hyundai santa fe', 'ford escape', 'gmc sierra 2500hd', 'honda civic lx', 'gmc sierra 1500', 'honda odyssey', 'cadillac escalade', 'volkswagen jetta', 'toyota corolla', 'chrysler town & country', 'volkswagen passat', 'toyota prius', 'buick enclave', 'ford fusion', 'toyota tundra', 'ram 3500', 'ram 2500', 'nissan frontier', 'chevrolet silverado 2500hd', 'jeep wrangler unlimited', 'ford f-250 super duty', 'gmc acadia', 'toyota sienna', 'ford focus se', 'ford f250', 'dodge dakota', 'ford f350', 'chevrolet trailblazer', 'ford econoline', 'nissan murano']
Cantidad de modelos únicos: 100

podemos observar que en los datos estan bien pulidos y listos para trabajar solo cambiamos la veriable de año de modelo y cilindros de decimal a entero, todo lo demas estan bien